<div class="about">
  <div class="tile">
    <h1>Mattia Cannizzaro</h1>
    <h2>Full Stack Web Developer</h2>
  </div>
  <div class="desc">
    <img
      class="profile"
      src="../../assets/ImgLogo/Profilo.jpg"
      alt="Mattia Cannizzaro"
    />
    <p>
      I introduce myself, I'm Mattia Cannizzaro a Junior Full Stack Developer,
      determined to enter the IT world and this is my cupstone project based on
      a social network that collects images. The name of the site comes from the
      concept of raster graphic that represents a two-dimensional picture as a
      rectangular matrix or grid of square pixels.
    </p>
  </div>

  <div class="tile">
    <h3>Skillset</h3>
    <p>
      <a href="https://angular.io" target="_blank" rel="noreferrer">
        <img
          src="https://angular.io/assets/images/logos/angular/angular.svg"
          alt="angular"
          width="40"
          height="40"
        />
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://material.angular.io" target="_blank" rel="noreferrer">
        <img
          src="https://material.angular.io/assets/img/angular-material-logo.svg"
          alt="angular material"
          width="40"
          height="40"
        />
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer">
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
          alt="css3"
          width="40"
          height="40"
        />
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://git-scm.com/" target="_blank" rel="noreferrer">
        <img
          src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg"
          alt="git"
          width="40"
          height="40"
        />
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer">
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
          alt="html5"
          width="40"
          height="40"
        />
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://www.java.com" target="_blank" rel="noreferrer">
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg"
          alt="java"
          width="40"
          height="40"
        />
      </a>
      &nbsp;&nbsp;&nbsp;
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
          alt="javascript"
          width="40"
          height="40"
        />
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://nodejs.org" target="_blank" rel="noreferrer">
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
          alt="nodejs"
          width="40"
          height="40"
        />
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://www.postgresql.org" target="_blank" rel="noreferrer">
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg"
          alt="postgresql"
          width="40"
          height="40"
        />
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://postman.com" target="_blank" rel="noreferrer">
        <img
          src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg"
          alt="postman"
          width="40"
          height="40"
        />
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://sass-lang.com" target="_blank" rel="noreferrer">
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg"
          alt="sass"
          width="40"
          height="40"
        />
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://spring.io/" target="_blank" rel="noreferrer">
        <img
          src="https://www.vectorlogo.zone/logos/springio/springio-icon.svg"
          alt="spring"
          width="40"
          height="40"
        />
      </a>
      &nbsp;&nbsp;&nbsp;
      <a
        href="https://www.typescriptlang.org/"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
          alt="typescript"
          width="40"
          height="40"
        />
      </a>
    </p>
  </div>

  <div class="tile">
    <h3>Contact Me</h3>
    <ul>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M0 3v18h24v-18h-24zm21.518 2l-9.518 7.713-9.518-7.713h19.036zm-19.518 14v-11.817l10 8.104 10-8.104v11.817h-20z"
          />
        </svg>
        <a href='mailto:"matcan9819@gmail.com"'>
          &nbsp;&nbsp; matcan9819@gmail.com</a
        >
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
          />
        </svg>
        <a href="https://github.com/Enkii98"> &nbsp;&nbsp; GitHub Profile</a>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
          />
        </svg>
        <a href="https://www.linkedin.com/in/mattiacannizzaro/">
          &nbsp;&nbsp; Linkedin Profile</a
        >
      </li>
    </ul>
  </div>
</div>
