<mat-tab-group>
  <mat-tab label="Users found">
    <h4 *ngIf="searchResults.length == 0">Users not found</h4>
    <mat-selection-list *ngIf="searchResults.length > 0" [multiple]="false">
      <mat-list-option *ngFor="let userFind of searchResults; let i = index">
        <img
          class="followImgP"
          *ngIf="findPhotoProfile(userFind)"
          [src]="findPhotoProfile(userFind)"
        />

        <mat-icon class="followNoPhoto" *ngIf="!findPhotoProfile(userFind)"
          >account_circle</mat-icon
        >
        <a class="name" routerLink="people" (click)="click($event)">{{
          userFind
        }}</a>
        <div class="buttonFlwlist">
          <button mat-raised-button *ngIf="!flw[i]" (click)="follow(i)">
            Follow
          </button>
          <button
            mat-raised-button
            [ngStyle]="{ background: '#575757' }"
            *ngIf="flw[i]"
            (click)="unfollow(i)"
          >
            Unfollow
          </button>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-tab>
</mat-tab-group>
