<div class="signin-container">
  <h2>Sign in</h2>
  <form
    *ngIf="!isSuccessful"
    [formGroup]="form"
    (ngSubmit)="form.valid && onSubmit()"
  >
    <p>Already a member?<a routerLink="/login"> Log In</a></p>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        formControlName="name"
        ngDefaultControl
        matInput
        placeholder="Name"
      />
      <button
        *ngIf="form.get('name')!.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="form.get('name')!.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="!getErrorMessage('name', 'required')"
        >You can only use letters</mat-error
      >
      <mat-error *ngIf="getErrorMessage('name', 'required')"
        >You must enter a value</mat-error
      >
      <mat-error *ngIf="getErrorMessage('name', 'pattern')"
        >Cannot contain empty spaces</mat-error
      > </mat-form-field
    ><mat-form-field appearance="outline"
      ><mat-label>Surname</mat-label
      ><input
        formControlName="surname"
        ngDefaultControl
        matInput
        placeholder="Surname"
      />
      <button
        *ngIf="form.get('surname')!.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="form.get('surname')!.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="!getErrorMessage('surname', 'required')"
        >You can only use letters</mat-error
      >
      <mat-error *ngIf="getErrorMessage('surname', 'required')"
        >You must enter a value</mat-error
      >
      <mat-error *ngIf="getErrorMessage('surname', 'pattern')"
        >Cannot contain empty spaces</mat-error
      > </mat-form-field
    ><mat-form-field appearance="outline"
      ><mat-label>Username</mat-label>
      <input
        formControlName="username"
        ngDefaultControl
        matInput
        placeholder="Username"
      />
      <button
        *ngIf="form.get('username')!.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="form.get('username')!.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="form.get('username')!.value.length < 3"
        >Must contain at least 3 characters</mat-error
      >
      <mat-error *ngIf="getErrorMessage('username', 'required')"
        >You must enter a value</mat-error
      >
      <mat-error *ngIf="getErrorMessage('username', 'maxLength')"
        >Can contain up to 20 characters</mat-error
      >
      <mat-error
        *ngIf="
          form.get('username')!.value &&
          form.get('username')!.value.length > 3 &&
          !getErrorMessage('username', 'pattern')
        "
      >
        Username already used, change it</mat-error
      >
      <mat-error *ngIf="getErrorMessage('username', 'pattern')"
        >Cannot contain empty spaces</mat-error
      > </mat-form-field
    ><mat-form-field appearance="outline">
      <mat-label>Email</mat-label
      ><input
        formControlName="email"
        ngDefaultControl
        matInput
        placeholder="Email"
      />
      <button
        *ngIf="form.get('email')!.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="form.get('email')!.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="getErrorMessage('email', 'email')"
        >Must have an email format</mat-error
      >
      <mat-error *ngIf="getErrorMessage('email', 'required')"
        >You must enter a value</mat-error
      >
      <mat-error *ngIf="getErrorMessage('email', 'pattern')"
        >Cannot contain empty spaces</mat-error
      >
      <mat-error
        *ngIf="form.get('email')!.value && !getErrorMessage('email', 'pattern')"
      >
        Email already used, change it</mat-error
      > </mat-form-field
    ><mat-form-field appearance="outline"
      ><mat-label>Password</mat-label>
      <input
        formControlName="password"
        ngDefaultControl
        matInput
        placeholder="Password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="getErrorMessage('password', 'minLength')"
        >Must contain at least 6 characters</mat-error
      >
      <mat-error *ngIf="getErrorMessage('password', 'required')"
        >You must enter a value</mat-error
      >
      <mat-error *ngIf="getErrorMessage('password', 'pattern')"
        >Must contain: - Capital letter - Lowercase letter - Number - Special
        character</mat-error
      >
      <mat-error *ngIf="getErrorMessage('password', 'maxLength')"
        >Can contain up to 40 characters</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        formControlName="confirmPassword"
        ngDefaultControl
        matInput
        placeholder="ConfirmPassword"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        *ngIf="form.get('confirmPassword')!.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="form.get('confirmPassword')!.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="getErrorMessage('confirmPassword', 'required')"
        >You must enter a value</mat-error
      ><mat-error *ngIf="!getErrorMessage('confirmPassword', 'required')"
        >Password and confirm password don't match</mat-error
      >
    </mat-form-field>

    <div class="signButton">
      <button class="resetButton" (click)="onReset()" mat-raised-button>
        Reset
      </button>
      <button
        [disabled]="
          !signinCheck(
            form,
            form.get('username')!.value,
            form.get('email')!.value
          )
        "
        type="submit"
        mat-raised-button
      >
        SignIn
      </button>
    </div>
  </form>
</div>
