<div class="login-container">
  <form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()" #f="ngForm">
    <h2>Log in</h2>
    <h2 class="error" *ngIf="isLoginFailed">{{ errorMessage }}</h2>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input
        formControlName="username"
        ngDefaultControl
        matInput
        placeholder="Username"
        (click)="isLoginFailed = false"
      />
      <mat-error *ngIf="getErrorMessage('username', 'required')"
        >You must enter a value</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        ngDefaultControl
        matInput
        placeholder="Password"
        (click)="isLoginFailed = false"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="getErrorMessage('password', 'required')"
        >You must enter a value</mat-error
      >
    </mat-form-field>

    <button [disabled]="!loginCheck(form)" type="submit" mat-raised-button>
      Log in
    </button>
  </form>
  <p>
    Becomes a pixel of our raster <a routerLink="/signin">Join on RasterArt</a>
  </p>
</div>
