<div class="pexel-container">
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile *ngFor="let pic of photos; let i = index">
      <div class="buttonContainerPhoto scale-in-center">
        <img
          class="zoom"
          [src]="pic.src.medium"
          [alt]="pic.alt"
          (click)="showImage(pic.src.medium)"
        />

        <button
          *ngIf="logged()"
          mat-raised-button
          [disabled]="buttonDisabled[i]"
          color="warn"
          (click)="getElement(i)"
        >
          <mat-icon>bookmark</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="space"></div>

<ng-container *ngIf="photos.length > 0; else noResults">
  <mat-paginator
    [length]="totalItems"
    [pageSize]="21"
    (page)="onPageChange($event)"
  ></mat-paginator>
</ng-container>
<ng-template #noResults>
  <p>Results not found</p>
</ng-template>
