.space-drawer {
  padding: 100%;
  position: fixed;
  left: 178px;
  top: 60px;
}

.icon {
  font-size: 27px !important;
  color: #ffb300;
}
.logo {
  width: 100px;
  height: 36px;
  padding-left: 15px;
}
