.ProfileIcon {
  font-size: 100px;
}

.ProfilePhoto {
  width: 100px;
  height: 100px;
  border-radius: 60px 60px 60px 60px;
}

.UserInfo {
  padding-left: 15px;
  padding-right: 15px;
  h1 {
    padding-top: 14px;
    padding-left: 9px;
  }

  p {
    margin: 15px 0px 12px 0px;
    background-color: black;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  mat-icon {
    cursor: pointer;
    padding-right: 9px;
  }
}

.photoContainer {
  img {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  width: -webkit-fill-available;
  height: -webkit-fill-available;

  position: relative;

  .btn {
    display: flex;
    position: absolute;
    flex-direction: row;
    right: 0px;
    bottom: 0px;
    width: 98%;
    justify-content: space-between;
  }
  button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 40px 40px 40px 40px;
    background-color: #f5f5dc38;
    padding: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  mat-icon {
    margin-bottom: 3px;
    width: 28px;
    cursor: pointer;
  }

  #liked {
    color: red !important;
  }

  #noLiked {
    color: rgb(120, 120, 120) !important;
  }
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
