<h1>Profilo di: {{ currentUser }}</h1>
<input
  type="text"
  id="descriptionProfile"
  [(ngModel)]="profileDescription"
  name="descriptionProfile"
/>
<button (click)="updateDescriptionUser()">modifica description</button>
<input
  type="text"
  id="profilePhoto"
  [(ngModel)]="profilePhoto"
  name="profilePhoto"
/>
<button (click)="updatePhotoProfileUser()">modifica Photo profilo</button>

<button (click)="onDeleteUser()">elimina</button>
<br />
<h2>Amici:</h2>
<div *ngFor="let follow of follows">
  <h3>
    <a routerLink="friend" (click)="captureClick($event)">{{ follow }}</a>
  </h3>
</div>
<br />
<h2>Foto:</h2>
<div *ngFor="let photo of myPhotos">
  <img [src]="photo.url" />
  <button (click)="deletePhoto(photo.id)">elimina</button>
  <input
    type="text"
    id="description"
    [(ngModel)]="currentDescription"
    name="description"
  />
  <button (click)="updateDescriptionPhoto(photo.id)">modifica</button>
</div>
